<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form method="post" action="shopify" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <th>shop_url:-</th>
            <td><input type="text" name="shop"></td>
        </tr>
<!--        <tr>-->
<!--            <th>api_key:-</th>-->
<!--            <td><input type="text" name="api_key"></td>-->
<!--        </tr>-->
        <tr>
            <td colspan="2"><input type="submit" value="submit" name="submit"></td>
        </tr>
    </table>

</form>
</body>
</html>